* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",
        Helvetica,
        "PingFang SC",
        "Hiragino Sans GB",
        "Microsoft YaHei",
        "微软雅黑",
        Arial,
        sans-serif;
}

/* 顶部容器 */
.header>.top {
    background-color: white;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0;
}

.header>.top .container {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

/* 顶部登录|注册 */
.header>.top .container .loginList {
    float: left;
    margin-right: 10px;
    font: 12px/1.3 "Microsoft YaHei", Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
    color: #333;
}

.header>.top .container .loginList .login {
    text-decoration: none;
    color: #333;
}

.header>.top .container .loginList .login:hover {
    color: rgb(238, 45, 45);
}

.el-dropdown-link {
    cursor: pointer;
    color: #409EFF;
}

.el-icon-arrow-down {
    font-size: 12px;
}

.header>.top .container .loginList .register {
    border-left: 1px solid gray;
    padding: 0 5px;
    margin-left: 5px;
    text-decoration: none;
    color: #333;
}

.header>.top .container .loginList .register:hover {
    color: rgb(238, 45, 45);
}

.header>.top .container .typeList {
    float: right;
}

.header>.top .container .typeList a {
    padding: 0 10px;
    font: 12px/1.3 "Microsoft YaHei", Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
    color: #333;
    text-decoration: none;
}

.header>.top .container .typeList a+a {
    border-left: 1px solid gray;
}

.bottom {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.bottom>.logoArea {
    float: left;
}

.bottom>.logoArea .logoImg img {
    zoom: 0.5;
    width: auto;
    height: auto;
}

.bottom>.search-container .searchArea {
    float: right;
    margin-top: 35px;
}

.bottom>.search-container .searchArea .searchForm {
    overflow: hidden;
}

.bottom>.search-container .searchArea .searchForm input {
    box-sizing: border-box;
    width: 490px;
    height: 32px;
    line-height: 32px;
    padding: 0px 4px;
    border-radius: 5px;
    border: 1px solid grey;
    float: left;
}

.bottom>.search-container .searchArea .searchForm input:focus {
    outline: none;
}

.bottom>.search-container .searchArea .searchForm button {
    height: 32px;
    line-height: 32px;
    width: 68px;
    border-radius: 5px;
    background-color: orangered;
    border: none;
    color: white;
    float: left;
    cursor: pointer;
}

.bottom>.search-container .searchArea .searchForm button:focus {
    outline: none;
}

/* 登录 */
.loginContainer {
    width: 100%;
    height: 500px;
    background-image: url(../images/login/bg1.jpg);
    background-position: 50%;
}

.loginForm {
    float: right;
    padding: 25px 25px 23px;
    margin-top: 50px;
    margin-right: 120px;
    background: #fff;
    opacity: .8;
    width: 350px;
    min-height: 300px;
    font: 12px/1.3 "Microsoft YaHei",
        Tahoma,
        Helvetica,
        Arial,
        "\5b8b\4f53",
        sans-serif;
    color: black;
}

.loginForm h2 {
    text-align: center;
}

.loginForm .el-input {
    width: 285px;
}

.loginForm .el-button {
    margin-left: 15px;
    width: 285px;
}

.goRegister {
    margin-left: 50%;
}

/* 注册页头部 */
.header>.regContainer {
    width: 1200px;
    height: 500px;
    border: 1px solid #666;
    margin: 0 auto;
}

/* 注册表头 */
.header>.regContainer h3 {
    background: #ccc;
    margin: 0;
    padding: 6px 15px;
    color: black;
    border-bottom: 1px solid #666;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    opacity: .8;
    text-align: center;
}

.header>.regContainer .goLogin {
    margin-left: 5%;
}

/* 注册表单 */
.header>.regContainer .regForm {
    padding-left: 380px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    font: 12px/1.3 "Microsoft YaHei", Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
    color: black;
}

.header>.regContainer .regForm .el-input {
    width: 285px;
}

.regForm .el-button {
    width: 125px;
}

/* 分类 */
.type-nav>.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.type-nav>.container .classify {
    position: relative;
    display: inline-block;
}

.type-nav>.container .classify button {
    display: inline-block;
    width: 200px;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: rgb(255, 132, 18);
    border: 1px solid #DCDFE6;
    color: white;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 14px;
}

.type-nav>.container .classify button:hover {
    background-color: #ff6700;
}

/*轮播图*/
.type-nav>.container .carouseldiagram {
    width: 1000px;
    height: 320px;
    position: relative;
    overflow: hidden;
}

.type-nav>.container .carouseldiagram img {
    cursor: pointer;
}

.type-nav>.container .carouseldiagram ul {
    position: absolute;
    height: 20px;
    left: 0px;
    bottom: 0px;
    text-align: center;
    padding: 5px;
}

.type-nav>.container .carouseldiagram ul .active {
    background-color: rgb(119, 102, 102);
}

.type-nav>.container .carouseldiagram ul li {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin: 2px;
}

.type-nav>.container .carouseldiagram .up-page {
    cursor: pointer;
    position: absolute;
    text-align: center;
    top: 150px;
    left: 0px;
    margin-left: 18px;
    line-height: 30px;
    border-radius: 20%;
    background-color: rgba(0, 0, 0, 0.24);
    color: #fff;
}

.type-nav>.container .carouseldiagram .down-page {
    cursor: pointer;
    position: absolute;
    text-align: center;
    top: 150px;
    right: 0px;
    margin-right: 18px;
    line-height: 30px;
    border-radius: 20%;
    background-color: rgba(0, 0, 0, 0.24);
    color: #fff;
}

/*商品推荐*/
.type-nav > .container .recommend{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 20px 20px;
    position: absolute;
    width: 1000px;
    height: 200px;
    left: 200px;
    bottom: 40px;
}
.type-nav > .container .recommend .image{
    cursor: pointer;
}
.type-nav > .container .recommend .intro{
    text-align: center;
    grid-row: 2;
}
.type-nav > .container .recommend .price{
    text-align: center;
    grid-row: 3;
    color: crimson;
}

/* 竖列表分类 */
.type-nav>.container .classify .content {
    height: 0 auto;
}

.type-nav>.container .classify .content a {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    background-color: #666;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    box-sizing: border-box;
    color: #fff;
}

/* 鼠标经过链接变换背景颜色 */
.type-nav>.container .content a:hover {
    background-color: #ff6700;
}

.type-nav>.container .classify:hover .content {
    display: block;
}

.dialog-footer {
    text-align: center;
}

/* 验证码 */
.verification {
    width: 100px;
    letter-spacing: 5px;
    margin-left: 50px;
    height: 40px;
    transform: translate(-15px, 0);
}

.captcha {
    height: 50px;
    text-align: justify;
}

.footer {
    background-color: #eaeaea;
    position: flex;
    height: 250px;
    margin-top: 60px;
}

.footer .footer-container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer .footer-container .footerList {
    padding: 20px;
    border-bottom: 1px solid #e4e1e1;
    border-top: 1px solid #e4e1e1;
    overflow: hidden;
    padding-left: 40px;
    font: 12px/1.3 "Microsoft YaHei", Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
    /* 用 ascii 字符表示，使得在任何编码下都无问题 */
    color: #333;
}

.footer .footer-container .footerList .footerItem {
    width: 16.6666667%;
    float: left;
}

.footer .footer-container .footerList .footerItem h4 {
    font-size: 14px;
}

.footer .footer-container .footerList .footerItem .footerItemCon li {
    line-height: 18px;
}

.footer .footer-container .footerList .footerItem:last-child img {
    width: 121px;
}

.footer .footer-container .copyright {
    padding: 20px;
    font: 12px/1.3 "Microsoft YaHei", Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
    color: #333;
}

.footer .footer-container .copyright .helpLink {
    text-align: center;
}

.footer .footer-container .copyright .helpLink li {
    display: inline;
}

.footer .footer-container .copyright .helpLink li .space {
    border-left: 1px solid #666;
    width: 1px;
    height: 13px;
    background: #666;
    margin: 8px 10px;
}

.footer .footer-container .copyright p {
    margin: 10px 0;
    text-align: center;
}