.header > .top{
    background-color: white;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0;
}
.header > .top .container{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.header > .top .container .loginList{
    float:left;
}
.header > .top .container .loginList p{
    float: left;
    margin-right: 10px;
    font: 12px/1.3 "Microsoft YaHei",Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
    color: #333;
}
.header > .top .container .loginList p .login{
    text-decoration: none;
}
.header > .top .container .loginList p .register{
    border-left: 1px solid gray;
    padding: 0 5px;
    margin-left: 5px;
    text-decoration: none;
}
.header > .top .container .typeList{
    float: right;
}
.header > .top .container .typeList a{
    padding: 0 10px;
    font: 12px/1.3 "Microsoft YaHei",Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
    color: #333;
    text-decoration: none;
}
.header > .top .container .typeList a + a{
    border-left: 1px solid gray;
}
.header > .bottom{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.header > .bottom .logoArea{
    float:left;
}
.header > .bottom .logoArea .logoImg img{
    zoom: 0.5;
    width: 150px;
    height: 150px;
    background: transparent url(../images/logo.png) no-repeat scroll;
}
.header > .bottom .searchArea{
    float:right;
    margin-top: 35px;
}
.header > .bottom .searchArea .searchForm{
    overflow: hidden;
}
.header > .bottom .searchArea .searchForm input{
    box-sizing: border-box;
    width: 490px;
    height: 32px;
    line-height: 32px;
    padding: 0px 4px;
    border-radius: 5px;
    border: 1px solid grey;
    float: left;
}
.header > .bottom .searchArea .searchForm input:focus{
    outline: none;
}
.header > .bottom .searchArea .searchForm button{
    height: 32px;
    line-height: 32px;
    width: 68px;
    border-radius: 5px;
    background-color: orangered;
    border: none;
    color: white;
    float:left;
    cursor:pointer;
}
.header > .bottom .searchArea .searchForm button:focus{
    outline: none;
}

/* 注册页头部 */
.header > .regContainer{
    width: 1200px;
    height: 445px;
    border: 1px solid #666;
    margin: 0 auto;
}
/* 注册表头 */
.header > .regContainer h3{
    background: #ccc;
    margin: 0;
    padding: 6px 15px;
    color: black;
    border-bottom: 1px solid #666;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    opacity: .8;
}
.header > .regContainer h3 .goLogin{
    font-size: 14px;
    float: right;
}
.header > .regContainer h3 .goLogin a{
    color: red;
}
/* 用户名 */
.header > .regContainer .regContent{
    padding-left: 390px;
    margin-bottom: 18px;
    position: relative;
    font: 12px/1.3 "Microsoft YaHei",Tahoma,Helvetica,Arial, "\5b8b\4f53", sans-serif;
    color: black;
}
.header > .regContainer .regContent label{
    font-size: 14px;
    width: 96px;
    text-align: right;
    display: inline-block;
}
.header > .regContainer .regContent input{
    width: 270px;
    height: 38px;
    line-height: 38px;
    padding-left: 8px;
    box-sizing: border-box;
    margin-left: 5px;
    outline: none;
    border: 1px solid #666;
}
.header > .regContainer .regContent .errorMsg{
    position: absolute;
    top: 100%;
    left: 490px;
    color: red;
}
/* 验证码 */
.header > .regContainer .regContent img{
    margin:  0 0 -15px;;
    width: 80px;
    height: 38px;
}


/* 勾选信息 */
.header > .regContainer .regCheck{
    text-align: center;
    position: relative;
    font: 12px/1.3 "Microsoft YaHei",Tahoma,Helvetica,Arial, "\5b8b\4f53", sans-serif;
    color: #333;
}
.header > .regContainer .regCheck input{
    vertical-align: middle;
}
.header > .regContainer .regCheck .errorMsg{
    position: absolute;
    top: 100%;
    left: 500px;
    color: red;
}
/* 注册按钮 */
.header > .regContainer .btn{
    text-align: center;
    height: 36px;
    line-height: 36px;
    margin: 17px 0 0 55px;
}
.header > .regContainer .btn button{
    outline: none;
    width: 270px;
    height: 36px;
    color: #fff !important;
    display: inline-block;
    font-size: 16px;
}

/* 分类 */
.type-nav{
    border-bottom: 2px solid rgb(255, 123, 0);
}
.type-nav .container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.type-nav .container .classify{
    position: relative;
    display: inline-block;
}
.type-nav .container .classify button{
    display: inline-block;
    width: 200px;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: rgb(255, 132, 18);
    border: 1px solid #DCDFE6;
    color: white;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 14px;
}

.type-nav .container .classify button:hover{
    background-color: #ff6700;
}
/* 竖列表分类 */
.type-nav .container .classify .content{
    height: 0 auto;
}

.type-nav .container .classify .content a{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    background-color: #666;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    box-sizing: border-box;
    color: #fff;
}
/* 鼠标经过链接变换背景颜色 */
.type-nav .container .content a:hover{
  background-color: #ff6700;
}
.type-nav .container .classify:hover .content{
    display: block;
}



.footer {
  background-color: #eaeaea;
  position: flex;
  height: 250px;
  margin: 250px 0 0;
}
.footer .footer-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.footer .footer-container .footerList {
  padding: 20px;
  border-bottom: 1px solid #e4e1e1;
  border-top: 1px solid #e4e1e1;
  overflow: hidden;
  padding-left: 40px;
  font: 12px/1.3 "Microsoft YaHei",Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
  color: #333;
}
.footer .footer-container .footerList .footerItem {
  width: 16.6666667%;
  float: left;
}
.footer .footer-container .footerList .footerItem h4 {
  font-size: 14px;
}
.footer .footer-container .footerList .footerItem .footerItemCon li {
  line-height: 18px;
}
.footer .footer-container .footerList .footerItem:last-child img {
  width: 121px;
}
.footer .footer-container .copyright {
  padding: 20px;
  font: 12px/1.3 "Microsoft YaHei",Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
  color: #333;
}
.footer .footer-container .copyright .helpLink {
  text-align: center;
}
.footer .footer-container .copyright .helpLink li {
  display: inline;
}
.footer .footer-container .copyright .helpLink li .space {
  border-left: 1px solid #666;
  width: 1px;
  height: 13px;
  background: #666;
  margin: 8px 10px;
}
.footer .footer-container .copyright p {
  margin: 10px 0;
  text-align: center;
}