* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Helvetica Neue",
        Helvetica,
        "PingFang SC",
        "Hiragino Sans GB",
        "Microsoft YaHei",
        "微软雅黑",
        Arial,
        sans-serif;
}

body {
    background: 0 36px repeat url("../images/home/bg0.png");

}

/* 顶部组件 */
.header>.top {
    background-color: rgb(39, 40, 43);
    height: 40px;
    line-height: 40px;
}

.header>.top .container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.header>.top .container .typeList {
    position: relative;
    float: left;
    font-size: 14px;
    color: #fefefe;
}

.header>.top .container .typeList .home {
    color: #999;
}

.header>.top .container .typeList .home:hover {
    color: #fefefe;
}

/* 顶部登录|注册 */
.header>.top .container .loginList {
    position: relative;
    float: right;
    margin-right: 10px;
    font-size: 14px;
}

.header>.top .container .loginList .login {
    color: #999;
}

.header>.top .container .loginList .login:hover {
    color: #fefefe;
}

.header>.top .container .loginList .register {
    border-left: 1px solid #666;
    padding: 0 5px;
    margin-left: 5px;
    color: #999;
}

.header>.top .container .loginList .register:hover {
    color: #fefefe;
}

.header>.top .container .loginList .user {
    border-left: 1px solid #666;
    padding: 0 5px;
    margin-left: 5px;
    color: #999;
}

.header>.top .container .loginList .user:hover {
    cursor: default;
}

.header>.top .container .loginList .exit {
    border-left: 1px solid #666;
    padding: 0 5px;
    margin-left: 5px;
    color: #999;
}

.header>.top .container .loginList .exit:hover {
    color: #fefefe;
    cursor: pointer;
}

.header>.top .container .loginList .info {
    border-left: 1px solid #666;
    padding: 0 5px;
    margin-left: 5px;
    color: #999;
}

.header>.top .container .loginList .info:hover {
    color: #fefefe;
}

.header>.top .container .cart {
    color: #999;
    background-color: rgb(39, 40, 43);
    border-color: rgb(39, 40, 43);
}

.header>.top .container .cart:hover {
    color: #fefefe;
}

/* 顶栏 */
.navContainer {
    width: 100%;
    background-color: #fefefe;
}

.topContainer {
    width: 1140px;
    margin: 0 auto;
    background-color: #fefefe;
    overflow: hidden;
    position: relative;
}

.topContainer .el-menu .el-menu-item {
    margin-left: 10px;
}

.topContainer>.logoArea {
    float: left;
}

.topContainer>.logoArea .logoImg img {
    zoom: 0.5;
    width: auto;
    height: auto;
}

.topContainer>.topNav {
    display: inline-block;
}

.topContainer>.searchArea {
    float: right;
    margin-top: 15px;
}

.topContainer>.searchArea .searchForm {
    overflow: hidden;
}

.topContainer>.searchArea .searchForm input {
    box-sizing: border-box;
    width: 250px;
    height: 50px;
    line-height: 50px;
    padding: 0px 4px;
    font-size: 14px;
    color: #999;
    border: 1px solid #999;
    float: left;
}

.topContainer>.searchArea .searchForm input:focus {
    outline: none;
}

.topContainer>.searchArea .searchForm .el-button {
    height: 50px;
    line-height: 50px;
    width: 50px;
    background-color: #fefefe;
    padding: 0;
    border-radius: 0;
    border: 1px solid #999;
    cursor: pointer;
}

/* 登录注册页 */
.login-bg {
    position: absolute;
    width: 100%;
    height: 100%;

}

.account-container {
    width: 100%;
    position: absolute;
    min-height: 800px;
}

.form {
    position: relative;
    margin-left: 40%;
    margin-top: 10%;
    background: #fefefe;
    width: 350px;
    min-height: 200px;
    font-size: 14px;
    color: black;
}

.loginForm {
    position: relative;
    margin-top: 10%;
    margin-left: -10px;
    width: 400px;
    min-height: 200px;
    font-size: 14px;
    color: black;
}

.loginForm .el-input {
    width: 285px;
}

.loginForm .el-button {
    margin-top: 20px;
    margin-left: 15px;
    width: 285px;
}

/* 注册表单 */
.regForm {
    width: 350px;
    min-height: 300px;
    margin-left: -10px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.regForm .el-input {
    width: 280px;
}

.regForm .el-button {
    width: 120px;
    margin-left: 14px;
}


/* 首页 */
.outer {
    width: 1366px;
    min-height: 1000px;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.home-container {
    width: 100%;
    margin-top: 10px;
    display: flex;
    position: relative;
}

/*轮播图*/
.home-container .carouseldiagram {
    width: 100%;
    height: 400px;
    position: absolute;
    overflow: hidden;
}

.home-container .carouseldiagram img {
    cursor: pointer;
    width: 100%;
    height: 400px;
    background-repeat: repeat-x;
    background-position: 50%;
    background-size: auto 100%;
}

.home-container .carouseldiagram ul {
    position: absolute;
    height: 20px;
    left: 0px;
    bottom: 0px;
    text-align: center;
    padding: 5px;
}

.home-container .carouseldiagram ul .active {
    background-color: rgb(119, 102, 102);
}

.home-container .carouseldiagram ul li {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin: 2px;
}

.home-container .carouseldiagram .up-page {
    cursor: pointer;
    position: absolute;
    text-align: center;
    top: 150px;
    left: 0px;
    margin-left: 18px;
    line-height: 30px;
    border-radius: 20%;
    background-color: rgba(0, 0, 0, 0.24);
    color: #fff;
}

.home-container .carouseldiagram .down-page {
    cursor: pointer;
    position: absolute;
    text-align: center;
    top: 150px;
    right: 0px;
    margin-right: 18px;
    line-height: 30px;
    border-radius: 20%;
    background-color: rgba(0, 0, 0, 0.24);
    color: #fff;
}

/*商品推荐*/
.home-container .recommend {
    position: absolute;
    width: 980px;
    height: 480px;
    top: 420px;
}

.home-container .recommend .recommendContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 1200px;
    height: auto;
    text-align: center;
}

.home-container .recommend .recommendContainer .image {
    cursor: pointer;
    margin-left: 25px;
    margin-right: 25px;
}

.home-container .recommend .recommendContainer .image .price {
    color: crimson;
}

.home-container .recommend .recommendContainer .image .img {
    width: 290px;
    height: 290px;
}

/* 竖列表分类 */
.home-container .classify .content {
    height: 0 auto;
}

.home-container .classify .content a {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    background-color: #666;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    box-sizing: border-box;
    color: #fff;
}

/* 鼠标经过链接变换背景颜色 */
.home-container .content a:hover {
    background-color: #ff6700;
}

.home-container .classify:hover .content {
    display: block;
}

.dialog-footer {
    text-align: center;
}

/* 验证码 */
/* .verification {
    width: 100px;
    letter-spacing: 5px;
    margin-left: 50px;
    height: 40px;
    transform: translate(-15px, 0);
} */

/* 商品详情页 */
.product {
    width: 1140px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid #e8e8e8;
    background-color: #fff;
}

.product .productContainer {
    width: 1140px;
    min-height: 525px;
    height: auto;
    margin: 0 auto;
}

.product .productContainer .imgBox {
    margin-left: 10px;
    width: 400px;
    height: 500px;
    float: left;
}

.product .productContainer .imgBox .top {
    margin-top: 10px;
}

.product .productContainer .imgBox .top .img {
    width: 400px;
    height: 400px;
}

.product .productContainer .imgBox .bottom {
    margin-top: 10px;
    width: 400px;
    height: 70px;
}

.product .productContainer .imgBox .bottom .img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 2px solid transparent;
}

.product .productContainer .imgBox .bottom .img:hover {
    border: 2px solid #ff6700;
}

.product .productContainer .rightBox {
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    width: 520px;
    height: 100%;
    display: block;
}

.product .productContainer .rightBox .title h3 {
    margin-top: 10px;
}

.product .productContainer .rightBox .meta {
    background-color: #fff2e8;
    margin-top: 20px;
    font-size: 12px;
    text-align: left;
    color: #3c3c3c;
}

.product .productContainer .rightBox .meta .type {
    display: inline;
    float: left;
    margin-left: 5px;
    width: 60px;
    height: 24px;
    line-height: 24px;
    color: #6c6c6c;
    font-size: 12px;
}

.product .productContainer .rightBox .meta .originPrice {
    margin-bottom: 20px;
    line-height: 24px;
}

.product .productContainer .rightBox .meta .price {
    margin-bottom: 10px;
}

.product .productContainer .rightBox .meta .price span {
    height: 26px;
    line-height: 26px;
}

.product .productContainer .rightBox .meta .price em {
    font-size: 26px;
    font-weight: 700;
    color: #ff4400;
    line-height: 26px;
}

.product .productContainer .rightBox .meta .style {
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-bottom: 20px;
}

.product .productContainer .rightBox .meta .style .img {
    height: 36px;
    width: 36px;
    border: 2px solid #dcdcdc;
    cursor: pointer;
    margin-right: 5px;
}

.product .productContainer .rightBox .meta .style .img:hover {
    border: 2px solid #ff4400;
}

.product .productContainer .rightBox .meta .style .img-selected {
    height: 36px;
    width: 36px;
    border: 2px solid #ff4400;
    cursor: pointer;
    margin-right: 5px;
}

.product .productContainer .rightBox .meta .size {
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
}

.product .productContainer .rightBox .meta .size .checkSize {
    width: auto;
    height: 28px;
    padding: 3px 6px;
    border: 2px solid #dcdcdc;
    cursor: pointer;
    margin-right: 5px;
}

.product .productContainer .rightBox .meta .size .checkSize:hover {
    border: 2px solid #ff4400;
}

.product .productContainer .rightBox .meta .size .size-selected {
    width: auto;
    height: 28px;
    padding: 3px 6px;
    border: 2px solid #ff4400;
    cursor: pointer;
    margin-right: 5px;
}

.product .productContainer .rightBox .meta .number {
    height: 26px;
    line-height: 26px;
    margin-bottom: 20px;
}

.product .productContainer .rightBox .meta .number ul,
li {
    list-style: none;
}

.product .productContainer .rightBox .meta .number li {
    float: left;
}

.product .productContainer .rightBox .meta .number .num-reduce {
    height: 23px;
    line-height: 23px;
    width: 23px;
}

.product .productContainer .rightBox .meta .number .num-input {
    text-align: center;
    width: 40px;
    font-size: 16px;
}

.product .productContainer .rightBox .meta .number .num-add {
    height: 23px;
    line-height: 23px;
    width: 23px;
}

.product .productContainer .rightBox .action {
    height: 40px;
    width: 100%;
    margin-top: 40px;
}

.product .productContainer .rightBox .action .buy {
    cursor: pointer;
    width: 130px;
    height: 40px;
    line-height: 40px;
    border-color: #F0CAB6;
    background-color: #ffe4d0;
    color: #e5511d;
    text-align: center;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
}

.product .productContainer .rightBox .action .addCart {
    cursor: pointer;
    width: 180px;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    border-color: #f40;
    color: #fff;
    background-color: #f40;
    text-align: center;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
}

.product .line {
    border-bottom: 1px solid #4d4d4d;
    width: 100%;
    height: auto;
}

.product .description {
    width: 1140px;
    float: left;
    margin-top: 50px;
    margin-left: 10px;
}

/* 购物车 */
.cart {
    width: 1140px;
    margin: 0 auto;
}

.cartTitle {
    margin: 10px 0;
    font-size: 20px;
}

.cartContainer {
    width: 1140px;
    min-height: 400px;
    height: auto;
    margin: 10px auto;
    border-radius: 18px 18px 0 0;
    position: relative;
}

.cartContainer .el-image {
    zoom: .4;
}

.cartContainer .num-reduce {
    text-align: center;
    cursor: pointer;
    background: #f7f7f7;
    border: 1px solid #e3e3e3;
    height: 20px;
    width: 20px;
}

.cartContainer .num-input {
    text-align: center;
    height: 18px;
    line-height: 18px;
    width: 30px;
    background: #ffffff;
    border: 1px solid #e3e3e3;
}

.cartContainer .num-add {
    text-align: center;
    cursor: pointer;
    background: #f7f7f7;
    border: 1px solid #e3e3e3;
    height: 20px;
    width: 20px;
}

.cartContainer {
    width: 1140px;
    margin-top: 10px;
}

.productTitle {
    background: #ffffff;
    border: 1px solid #ddd;
    padding: 10px;
    overflow: hidden;
}

.tableBottom {
    background: #ffffff;
    height: 40px;
    display: block;
}

.tableBottom .table-buttonForm {
    float: left;
}

.tableBottom .table-buttonForm .el-button {
    color: #909399;
}

.tableBottom .table-totalForm {
    float: right;
}

.tableBottom .table-totalForm .el-button {
    cursor: pointer;
    background: #ff7700;
    font: #fefefe;
    padding: 12px 20px;
    border-radius: 0;
    transition: 0s;
    height: 40px;
    line-height: 1;
}

/* 支付页 */
.payContainer {
    width: 1140px;
    min-height: 400px;
    height: auto;
    margin: 10px auto;
    border-radius: 18px 18px 0 0;
    position: relative;
}

.payContainer .payHeader {
    width: 1140px;
    height: auto;
}

.payContainer .payMode {
    margin-top: 20px;
    width: 257px;
    height: auto;
    background-color: #ffffff;
}

.payContainer .payMode .payModeForm .el-button {
    width: 150px;
    height: 50px;
    line-height: 50px;
    border-radius: 12px;
}

.payContainer .payPrice {
    margin-top: 30px;
}

.payContainer .payPrice em {
    color: #e94826;
    font-size: 26px;
}

.payContainer .payBottom {
    margin-top: 40px;
    text-align: center;
}

.payContainer .payBottom .el-button {
    border-radius: 18px;
}


.paySuccess {
    margin: 20px auto;
    padding: 25px;
    border: 1px solid rgb(211, 211, 211);
    width: 1200px;
    width: 1148px;
}

.success {
    width: 500px;
    margin: 0 auto;
}

.success h3 {
    margin-top: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.success h3 img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    margin-right: 14px;
}

.paydetail {
    margin-left: 66px;
    font-size: 15px;
}

.paydetail .el-button {
    margin-left: 120px;
    margin-top: 20px;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 6px;
    user-select: none;
    font-size: 18px;
    text-decoration: none;
}

/*个人中心*/
.personal {
    display: flex;
    width: 1140px;
    height: 800px;
    position: absolute;
    left: 360px;
    background-color: #333;
}

.personal .personalContainer {
    min-width: 1200px;
}

.head {
    height: 400px;
}

.profile {
    height: 300px;
}

.changePro {
    position: absolute;
    left: 500px;
    bottom: 10px;
}

.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    left: 510px;
    top: 130px;
    border-radius: 50%;
}

.avatar-uploader .el-upload:hover {
    border-color: #409EFF;
}

.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
}

.avatar {
    width: 150px;
    height: 150px;
    display: block;
}

.footer {
    margin-top: 100px;
    width: 100%;
    height: 400px;
    background-color: #000;
    opacity: .8;
    color: #fff;
    overflow: hidden;
}

.footer .box {
    width: 1140px;
    height: 100%;
    margin: 0 auto;
}

.footer .box .top {
    margin-top: 100px;
    display: flex;
    margin-bottom: 40px;
    text-align: center;
}

.footer .box .top .leftBox {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footer .box .top .leftBox .title {
    font-size: 16px;
    margin-bottom: 30px;
}

.footer .box .top .leftBox .number {
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 500;
}

.footer .box .top .leftBox .time {
    font-size: 18px;
    margin-bottom: 30px;
}

.footer .box .top .leftBox .consult {
    cursor: pointer;
    margin: 0 auto;
    width: 220px;
    height: 36px;
    line-height: 36px;
    border: 1px solid #fff;
    opacity: .6;
}

.footer .box .top .centerBox {
    flex: 1;
    border-left: 2px solid #4d4d4d;
    border-right: 2px solid #4d4d4d;
}

.footer .box .top .centerBox p {
    font-size: 16px;
    line-height: 25px;
}

.footer .box .top .centerBox .title {
    margin-bottom: 30px;
}

.footer .box .top .rightBox {
    flex: 1;
    display: flex;
}

.footer .box .top .rightBox .aboutUs {
    flex: 1;
}

.footer .box .top .rightBox .aboutUs p {
    margin-bottom: 20px;
}

.footer .box .top .rightBox .aboutUs .title {
    margin-bottom: 30px;
}

.footer .box .top .rightBox .aboutUs .cur-poi {
    cursor: pointer;
}

.footer .box .bottom {
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    color: #444;
}