* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",
        Helvetica,
        "PingFang SC",
        "Hiragino Sans GB",
        "Microsoft YaHei",
        "微软雅黑",
        Arial,
        sans-serif;
}

.sortContainer {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.sortHead {
    margin-top: 10px;
    width: 1200px;
    height: 40px;
    border-bottom: 2px solid rgb(252, 155, 9);
}

.sortHead>.sort {
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    background-color: rgb(252, 155, 9);
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: white;
    box-sizing: border-box;
    text-align: center;
}

.sortBreadcrumb {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}


.sortContainer > .sortTable .el-link{
    margin-left: 50px;
}

.goodContainer{
    width: 1200px;
    height: auto;
}

.showContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 1200px;
    height: auto;
    text-align: center;
}

.image{
    cursor: pointer;
}

.price{
    color: crimson;
}

.img{
    width: 290px;
    height: 290px;
}